---
layout: single
---
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

{%assign positions = "Full Professor, Associate Professor, Lecturer, Postdoctoral Researcher, PhD Student, Master Student"| split: ", " %}

<!-- Your Responsive Members List -->
<ul class="list-group">
  {% for position in positions %}
    {% for member in site.members %}
      {% if member.position == position %}
      <li class="list-group-item">
        {% include member_row.html member=member %}
      </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

<!-- Include Bootstrap JS and Popper.js (required for Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
